* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(20, 4, 77);
}
#container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
}
.init-p {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.ele {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(199, 182, 34);
  font-size: 45px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#8a82fb),
    to(#407ed7)
  );
  background: -o-linear-gradient(#8a82fb, #407ed7);
  background: linear-gradient(#8a82fb, #407ed7);
  transition: transform 1.5s;
}
#parent {
  z-index: 9;
}
#google {
  z-index: 8;
}
#facebook {
  z-index: 7;
}
#instagram {
  z-index: 6;
}
#twitter {
  z-index: 5;
}
#whatsapp {
  z-index: 4;
}
#telegram {
  z-index: 3;
}
#youtube {
  z-index: 2;
}
#linkedin {
  z-index: 1;
}
.attr{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: khaki;
  user-select: none;
}
.fa-github{
  color: khaki;
}
.attr a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .ele {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  #parent{
    width: 100px;
    height: 100px;
  }
}
.gd0{
  background-color: rgb(20, 4, 77);

}
.gd1{
  background: linear-gradient(180deg, #124ba1, #082b6b, #031646);
}
.gd2{
  background: linear-gradient(180deg, #53ca93, #107568,#06474b );
}
.gd3{
  background: linear-gradient(180deg, #92731e, #68440f, #241302 );
}
.gd4{
  background: linear-gradient(180deg, #ca598c, #a31b4b, #5f0b20);
}
.gd5{
  background: linear-gradient(180deg, #af57c7, #8026a7, #2b0449);
}
